@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;450;500;600;700;800&display=swap');
@import './custom.scss';

@import './content.scss';
@import './common.scss';
@import './typography.scss';
